.bg-blue-to-yellow {
  background: linear-gradient(to right, blue, yellow);
}

.bg-green-to-purple {
  background: linear-gradient(to right, rgb(30, 128, 0), rgb(250, 3, 213));
}

.bg-none {
  background-color: #c8c8c8;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  height: 8px;
  border-radius: 5px;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #1a1919;  
  }
  input[type="range"]::-moz-range-thumb {
    width: 5px;
    height: 5px;
    background: #c8c8c8;
    cursor: pointer;
    border-radius: 50%;
  }